<template>
  <div>
    <v-toolbar color="primary">
      <v-toolbar-title>
        <router-link class="white--text" :to="{name: 'index'}">
          Cross and Zero
        </router-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-btn text color="white" :to="{name: 'index'}">Home</v-btn>
        <v-btn text color="white">Link 1</v-btn>
        <v-btn text color="white">Link 2</v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<style lang="stylus">
h1
  text-align: center

a
  color white
  text-decoration none
</style>

<script>
export default {
  name: 'Navigation',
};
</script>
