<template>
  <v-app>
    <Navigation />
    <router-view></router-view>
  </v-app>
</template>

<style lang="stylus">
h1
  text-align: center

a
  text-decoration: none
</style>

<script>
import Navigation from '@/components/Navigation';

export default {
  name: 'App',

  components: {
    Navigation,
  },
};
</script>
